# Source directory
src/
!src/main.c

.dep/
*.o
*.d

# Binaries and symbol files
*.lst
*.lss
*.map
*.sym
*.elf
*.bin

# Sublime Text / Atom / Kate project files
*.sublime-project
*.sublime-workspace
*.kateproject

# GDB Files
.gdb_history
.gdbinit
!gdbinit.d/

# OpenOCD logs
*.log

# Files being edited
*.swp
~
